[submodule "src/protected/extensions/yiidebugtb"]
	path = src/protected/extensions/yiidebugtb
	url = git://github.com/cr0t/yiidebugtb.git
[submodule "src/protected/extensions/markitup-widget"]
	path = src/protected/extensions/markitup-widget
	url = git://github.com/yiiext/markitup-widget.git
[submodule "yii"]
	path = yii
	url = git://github.com/yiiext/yii.git
[submodule "src/protected/extensions/complete"]
	path = src/protected/extensions/complete
	url = git://github.com/Stamm/yii-console-completion
